@model Turtle.Models.Post


<div class="card-body">

    <div class="d-flex justify-content-between flex-row">
        <a asp-controller="Posts" asp-action="Show" asp-route-id="@Model.Id">
            <h3 class="card-title alert-success py-3 px-3 rounded-2 text-decoration-none">@Model.Title</h3>
        </a>

        <div class="dropdown d-inline">
            <i class="rounded bi bi-three-dots-vertical dropdown-toggle no-arrow option-hover"
               id="postMenu-@Model.Id"
               style="cursor:pointer"
               data-bs-toggle="dropdown"
               aria-expanded="false">
            </i>
            <ul class="dropdown-menu" aria-labelledby="postMenu-@Model.Id">
                <li><button class="dropdown-item text-info">Edit</button></li>
                <li><button class="dropdown-item text-danger">Delete</button></li>
            </ul>
        </div>
    </div>

    <div class="mb-3">
        @foreach (var postCat in Model.PostCategories)
        {
            <span class="badge bg-secondary me-1">#@postCat.Category.CategoryName</span>
        }
    </div>

    <div class="d-flex justify-content-between flex-row">
        <div><i class="bi bi-person-circle"></i> @Model.User.UserName</div>

        @if (Model.CommunityId != null)
        {
            <div><i class="bi bi-building"></i>@Model.Community.CommunityName</div>
        }

        <div><i class="bi bi-calendar"></i>@Model.CreatedAt</div>
    </div>

    <br />

    <div class="card-text text-truncate">@Model.Content</div>
    
    <br />
    
    @if (Model.Liked)
    {
        <div><i class="bi bi-heart-fill text-danger"></i> @Model.Likes </div>
    } else
    {
        <div><i class="bi bi-heart text-danger"></i> @Model.Likes </div> 
    }
</div>