@model Turtle.Models.Post

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between flex-row">
            @if (Model.MotherPostId is null)
            {
                <h3 class="card-title alert-success py-3 px-3 rounded-2">@Model.Title</h3>
            }
            else
            {
                <div></div>
            }

            <div class="dropdown d-inline">
                <i class="rounded bi bi-three-dots-vertical dropdown-toggle no-arrow option-hover"
                   id="postMenu-@Model.Id"
                   style="cursor:pointer"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                </i>

                @if (ViewBag.CurrentUserId == Model.UserId || ViewBag.UserIsAdmin)
                {
                    <ul class="dropdown-menu" aria-labelledby="postMenu-@Model.Id">
                        @if (ViewBag.CurrentUserId == Model.UserId)
                        {
                            <li>
                                <form method="get" asp-controller="Posts" asp-action="Edit"
                                      asp-route-id="@Model.Id">
                                

                                    <button class="dropdown-item text-info">Edit</button>

                                </form>
                            </li>
                        }
                       
                        <li>
                            <form method="post" asp-controller="Posts" asp-action="Delete" 
                                  asp-route-id="@Model.Id"
                                  asp-route-search="@Context.Request.Query["search"]"
                                  asp-route-tab="@Context.Request.Query["tab"]"
                                  asp-route-pageH="@Context.Request.Query["pageH"]"
                                  asp-route-pageR="@Context.Request.Query["pageR"]">

                                <button class="dropdown-item text-danger">Delete</button>

                            </form>
                        </li>

                    </ul>
                }
            </div>
        </div>


        @if (Model.MotherPostId is null) 
        {
            <div class="mb-3">
                @foreach (var postCat in Model.PostCategories)
                {
                    <span class="badge bg-secondary me-1">#@postCat.Category.CategoryName</span>
                }
            </div>
        }


        <div class="d-flex justify-content-between flex-row">
            <div><i class="bi bi-person-circle"></i> @Model.User.UserName</div>

            @if (Model.MotherPostId == null && Model.CommunityId != null)
            {
                <div><i class="bi bi-building"></i>@Model.Community.CommunityName</div>
            }

            <div><i class="bi bi-calendar"></i>@Model.CreatedAt</div>
        </div>

        <br />

        <div class="card-text">@Model.Content</div>

        <br />

        <div class="d-flex flex-row">
            @foreach (string fileName in Model.Files)
            {
                <div class="file-item" style="margin-bottom: 20px;">
                    @if (fileName.Contains(".png") || fileName.Contains(".jpg") || fileName.Contains(".jpeg"))
                    {
                        <!-- Imaginile sunt displayed normal -->
                        <img src="@(fileName + Model.Id.ToString())" alt="@fileName" style="max-width: 50%;"/>
                    }
                </div>
            }
        </div>

        <div class="file-gallert">
            @foreach (string fileName in Model.Files)
            {
                <div class="file-item" style="margin-bottom: 20px;">
                    @if (! (fileName.Contains(".png") || fileName.Contains(".jpg") || fileName.Contains(".jpeg")) )
                    {
                        <!-- Alte fisiere ca link-uri -->
                        <p>📄 <a href="@(fileName + Model.Id)" target="_blank"> @fileName.Split("/").Last() </a></p>
                    }
                </div>
            }
        </div>

        <br />

        <div class="d-flex justify-content-between flex-row">
            <div>
                <i class="bi bi-chat-left-text"
                   style="cursor:pointer;"
                   onclick="toggleCommentForm('@Model.Id')"></i>

                <div class="d-inline" id="likes-of-@Model.Id">
                    <button type="submit" class="btn btn-link text-decoration-none p-0" onclick="LikePost('@Model.Id')">
                        <i class="bi text-danger @(Model.Liked ? "bi-heart-fill" : "bi-heart")"></i>
                    </button> 
                    <span>@Model.Likes</span>
                </div>

                @* <div class="d-inline">
                    <form asp-action="ToggleLike" method="post" class="d-inline">
                        <input type="hidden" name="id" value="@Model.Id" />
                        <button type="submit" class="btn btn-link text-decoration-none p-0">
                            <i class="@(Model.Liked ? "bi bi-heart-fill text-danger" : "bi bi-heart text-danger")"></i>
                        </button>
                    </form>
                    @Model.Likes
                </div> *@
            </div>

            <div class = "d-inline">
                <i id= "arrow-@Model.Id"
                   class="bi @(Model.MotherPostId == null ? "bi-caret-up-fill" : "bi-caret-down-fill")"
                   style="cursor:pointer"
                   onclick="showComments('@Model.Id')"></i>
                @Model.Comments.Count()
            </div>
        </div>
    </div>
</div>

<div id="commentForm-@Model.Id" class="comment d-none">
    <div class="container">

        <div class="row">

            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="card">

                    <form method="post" asp-controller="Posts" asp-action="Show">

                        <div class="card-body">

                            <input type="hidden" name="MotherPostId" value="@Model.Id" />

                            <label>Comment Content</label>
                            <br />

                            <textarea class="form-control" name="Content"></textarea>

                            <span asp-validation-for="Content" class="text-danger"></span>
                            <br /><br />

                            <button class="btn btn-success " type="submit">Submit Comment</button>

                        </div>

                    </form>

                </div>

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
</div>

<ul id="comments-of-@Model.Id" class="@(Model.MotherPostId == null ? "" : "d-none") list-group ms-4">
	@foreach (var comment in Model.Comments)
	{
        <li class="list-group-item">
		    <partial name="PostInfo" model="comment" />
        </li>
	}
</ul>

@if (@Model.MotherPostId is null)
{
    <script src="~/js/PostInfo.js"></script>

    <script>
        async function LikePost(id) {
             id = Number(id);

             const response = await fetch('/Posts/ToggleLike', {
                  method: 'POST',
                  headers: { 'Content-Type': 'application/json' },
                  body: JSON.stringify({ id })
              });

             const data = await response.json();

             if (data.success) {
                  const divLike = document.getElementById(`likes-of-${id}`);

                  divLike.lastElementChild.innerText = data.likes;

                  const heartIcon = divLike.querySelector("i"); // select the <i> inside the div

                  if (heartIcon.classList.contains("bi-heart-fill")) {
                        heartIcon.classList.remove("bi-heart-fill", "text-danger");
                        heartIcon.classList.add("bi-heart", "text-danger");
                  } else {
                        heartIcon.classList.remove("bi-heart");
                        heartIcon.classList.add("bi-heart-fill", "text-danger");
                  }
             }
        }
    </script>

}