@model Turtle.Models.Post


<div class="card-body">

    <div class="d-flex justify-content-between flex-row">
        <a asp-controller="Posts" asp-action="Show" 
           asp-route-id="@Model.Id"
           asp-route-id="@Model.Id"
           asp-route-search="@Context.Request.Query["search"]"
           asp-route-tab="@Context.Request.Query["tab"]"
           asp-route-pageH="@Context.Request.Query["pageH"]"
           asp-route-pageR="@Context.Request.Query["pageR"]">

            <h3 class="card-title alert-success py-3 px-3 rounded-2 text-decoration-none">@Model.Title</h3>
        </a>

        <div class="dropdown d-inline">
            <i class="rounded bi bi-three-dots-vertical dropdown-toggle no-arrow option-hover"
               id="postMenu-@Model.Id"
               style="cursor:pointer"
               data-bs-toggle="dropdown"
               aria-expanded="false">
            </i>
            @if (ViewBag.CurrentUserId == Model.UserId || ViewBag.UserIsAdmin)
            {
                <ul class="dropdown-menu" aria-labelledby="postMenu-@Model.Id">
                    @if (ViewBag.CurrentUserId == Model.UserId)
                    {
                        <li>
                            <form method="get" asp-controller="Posts" asp-action="Edit"
                                  asp-route-id="@Model.Id">
                                  

                                <button class="dropdown-item text-info">Edit</button>

                            </form>
                        </li>
                    }

                    <li>
                        <form method="post" asp-controller="Posts" asp-action="Delete"
                              asp-route-id="@Model.Id"
                              asp-route-search="@Context.Request.Query["search"]"
                              asp-route-tab="@Context.Request.Query["tab"]"
                              asp-route-pageH="@Context.Request.Query["pageH"]"
                              asp-route-pageR="@Context.Request.Query["pageR"]">

                            <button class="dropdown-item text-danger">Delete</button>

                        </form>
                    </li>

                </ul>
            }
        </div>
    </div>

    <div class="mb-3">
        @foreach (var postCat in Model.PostCategories)
        {
            <span class="badge bg-secondary me-1">#@postCat.Category.CategoryName</span>
        }
    </div>

    <div class="d-flex justify-content-between flex-row">
        <div><i class="bi bi-person-circle"></i> <a href="/Users/Show/@Model.UserId">@Model.User.UserName</a></div>

        @if (Model.CommunityId != null)
        {
            <div><i class="bi bi-building"></i>@Model.Community.CommunityName</div>
        }

        <div><i class="bi bi-calendar"></i>@Model.CreatedAt</div>
    </div>

    <br />

    <div class="card-text text-truncate">@Model.Content</div>
    
    <br />
    
    @if (Model.Liked)
    {
        <div><i class="bi bi-heart-fill text-danger"></i> @Model.Likes </div>
    } else
    {
        <div><i class="bi bi-heart text-danger"></i> @Model.Likes </div> 
    }
</div>